<div class="stretch_box">
  <div class="big_container">
    <div class="left_box">
      <% if logged_in? %>
        <% provide(:title, 'Friends') %>
        <h1 style="float:left;margin-left:36px;">Friends</h1>
      <% else %>
        <% provide(:title, 'Users') %>
        <h1 style="float:left;margin-left:36px;">Users</h1>
      <% end %>
        <ul style="list-style:none;"><h3>
          <% @users.each do |user| %>
            <% unless user == current_user && logged_in? %>
              <%= content_tag(:li, user.name, style: "margin-top:2%;") %>
            <% end %>
          <% end %>
        </h3></ul>
    </div>
    <div class="right_box">
      <%= render 'shared/demo_message', size: 'p_large', link_on: false %>
    </div>
  </div>
</div>
