<% provide(:title, 'Home') %>
<div class="box">
  <div class="big_container">
    <h1>Private Parties!</h1>
    <h2>A Rails events creator.</h2>
    
      <%= render 'shared/demo_message', size: 'p_small', link_on: true %>
    </div>
  </div>
</div>
